$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ebm-hamburger-icon: "\e911";
$ebm-search-icon-mobile: "\e912";
$ebm-foot-logo-path1: "\e90b";
$ebm-foot-logo-path2: "\e90c";
$ebm-foot-logo-path3: "\e90d";
$ebm-foot-logo-path4: "\e90e";
$ebm-foot-logo-path5: "\e90f";
$ebm-foot-logo-path6: "\e910";
$ebm-arrow-left: "\e90a";
$ebm-arrow-down-dropdown: "\e900";
$ebm-logo-icon-path1: "\e901";
$ebm-logo-icon-path2: "\e902";
$ebm-logo-icon-path3: "\e903";
$ebm-logo-icon-path4: "\e904";
$ebm-logo-icon-path5: "\e905";
$ebm-logo-icon-path6: "\e906";
$ebm-logo-line: "\e907";
$ebm-logo-text: "\e908";
$ebm-search-icon: "\e909";

